<div class="content">
      <h2 class="welcome-message">Welcome, Anagha!</h2>
      <div class="dashboard-container">
        <div class="stats-container">
          <app-status-card
            title="Issued Books"
            [count]="1"
            iconSrc="./assets/IssuedLogo.png"
          ></app-status-card>
          <app-status-card
            title="Overdue Items"
            [count]="0"
            iconSrc="./assets/deadline.png"
          ></app-status-card>
          <app-status-card
            title="Saved Selections"
            [count]="3"
            iconSrc="./assets/Save.png"
          ></app-status-card>
          <app-status-card
            title="Item Reservations"
            [count]="0"
            iconSrc="./assets/reserved.png"
          ></app-status-card>
        </div>
      </div>
<div class="bottom-section">
        <app-new-arrivals></app-new-arrivals>
        <app-upcoming-events></app-upcoming-events>
      </div>